<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CyBLE_MTK_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CyBLE_MTK_Application.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="RecentPath1" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="RecentPath2" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="RecentPath3" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="RecentPath4" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="RecentPath5" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="NumDUTs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Relevant</value>
            </setting>
            <setting name="ApplicationLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSaveAppLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogTests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogTestsSetting" serializeAs="String">
                <value>DUT</value>
            </setting>
            <setting name="EnableTestProgDialogMsg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiDUTEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionType" serializeAs="String">
                <value>UART</value>
            </setting>
            <setting name="PauseTestsOnFailure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseSerialDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BDAUseProgrammer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BDAIncrement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BDA" serializeAs="String">
                <value>000000000000</value>
            </setting>
            <setting name="DUTSerialPort0" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort1" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort2" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort3" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort4" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort5" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort6" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort7" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort8" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort9" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort10" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort11" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort12" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort13" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort14" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTSerialPort15" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreDUTs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MTKSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="AnritsuSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTMultiplexerSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DUTProgrammerName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                        <string>Configure...</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DUTProgrammerVoltage" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DUTProgrammerPM" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DUTProgrammerConn" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DUTProgrammerClock" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DUTProgrammerPA" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DUTProgrammerVerify" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DUTProgrammerHexPath" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AnritsuScriptID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AnritsuOutputPower" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AnritsuTXPower" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                        <string>0.0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AnritsuNumPKTS" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="BDAProgrammerName" serializeAs="String">
                <value>Configure...</value>
            </setting>
            <setting name="BDAProgrammerVoltage" serializeAs="String">
                <value />
            </setting>
            <setting name="BDAProgrammerPM" serializeAs="String">
                <value />
            </setting>
            <setting name="BDAProgrammerConn" serializeAs="String">
                <value />
            </setting>
            <setting name="BDAProgrammerClock" serializeAs="String">
                <value />
            </setting>
            <setting name="BDAProgrammerPA" serializeAs="String">
                <value />
            </setting>
            <setting name="BDAProgrammerVerify" serializeAs="String">
                <value />
            </setting>
            <setting name="BDAProgrammerHexPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BDAProgrammerGlobal" serializeAs="String">
                <value>False</value>
            </setting>
        </CyBLE_MTK_Application.Properties.Settings>
    </userSettings>
</configuration>