BackBone.cywrk.*
BackBone_Bootloadable.cydsn/BackBone_Bootloadable.cyprj.*
BackBone_Bootloadable.cydsn/codegentemp
BackBone_Bootloadable.cydsn/CortexM0
BackBone_Bootloadable.cydsn/Generated_Source
BackBone_Bootloadable.cydsn/Export
BackBone_Bootloadable.cydsn/BackBone_Bootloadable.cyfit
BackBone_Bootloadable.cydsn/BackBone_Bootloadable.cycdx
BackBone_Bootloadable.cydsn/BackBone_Bootloadable.rpt
BackBone_Bootloadable.cydsn/BackBone_Bootloadable.svd
BackBone_Bootloadable.cydsn/BackBone_Bootloadable_timing.html
launcher.cydsn/CortexM0/
launcher.cydsn/Generated_Source/
launcher.cydsn/codegentemp/
launcher.cydsn/launcher.cycdx
launcher.cydsn/launcher.rpt
launcher.cydsn/launcher_timing.html
launcher.cydsn/Export/
launcher.cydsn/launcher.cyfit
launcher.cydsn/launcher.cyprj.*
stack.cydsn/CortexM0/
stack.cydsn/Generated_Source/
stack.cydsn/codegentemp/
stack.cydsn/stack.cycdx
stack.cydsn/stack.rpt
stack.cydsn/stack_timing.html
stack.cydsn/Export/
stack.cydsn/stack.cyfit
stack.cydsn/stack.cyprj.*
